@page "/"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@inject CounterService CounterService



<h1>Hello world</h1>
<article class="content px-4">
    <div class="button-container">
        <button class="BUTTON" @onclick="IncrementCount" >Click Me</button>
        <p1>Current Count: @CounterService.Count</p1>
    </div>
</article>

@code {
    private async Task IncrementCount()
    {
        CounterService.IncrementCount();
        await JSRuntime.InvokeVoidAsync("console.log", $"Count incremented to: {CounterService.Count}");
        await InvokeAsync(StateHasChanged);

    }
}